        /* Add your custom CSS styles here */
        .container1 {
            margin-left: 10cm;
            margin-right: 10cm;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            border-radius: 2cm;
            flex-direction: column; /* Updated to column layout */
            padding: 20px; /* Add padding for better spacing */
        }

        .container2 {
            margin-top: 30px;
            background-color: #ededed;
            border: 1px solid #c3b7b7;
            border-radius: 1cm;
            height: 500px;
            padding-top:40px;
            justify-content: space-around;
            width: 600px; /* Make it take the full width */
        }

        .plan-card {
            margin-left: 70px;
            border-radius: 1cm;
            margin-top: 10px;
            background-color: #ffffff;
            border: 1px solid #8d8d8d;
            padding: 10px;
            width: 500px; /* Adjust the width as needed */
        }

        .btn-container {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .contact-trainer-btn,
        .add-progress-btn {
            padding-top: 5px;
            padding: 10px ; 
            background-color: #ff4d00;
            color: white;
            border: none;
            border-radius: 2cm; /* Border radius 2cm */
            cursor: pointer;
            transition: background-color 0.3s ease; /* Add hover effect */
        }
        .show-progress-btn {
            padding-top: 5px;
            padding: 10px ; 
            background-color: #ff4d00;
            color: white;
            border: none;
            border-radius: 2cm; /* Border radius 2cm */
            cursor: pointer;
            transition: background-color 0.3s ease; /* Add hover effect */
        }

        .contact-trainer-btn:hover,
        .add-progress-btn:hover {
            background-color: #ff8041;
        }
