.feedback-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 3cm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-left: 13cm;
    margin-top: 238px;
    margin-bottom: 38px;
    border-color: #000000;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
    color: #ccc; /* Set the initial star color */
}

/* Corrected star order */
input[id^="star1"]:checked ~ label {
    color: #FFD700; /* Set the selected star color */
}

input[id^="star2"]:checked ~ label {
    color: #FFD700;
}

input[id^="star3"]:checked ~ label {
    color: #FFD700;
}

input[id^="star4"]:checked ~ label {
    color: #FFD700;
}

input[id^="star5"]:checked ~ label {
    color: #FFD700;
}

button {
    background-color: #ff4800;
    color: #fff;
    padding: 12px;
    border: none;
    width: wrap-content;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2cm;
}

button:hover {
    background-color: #f9863e;
}
