/* General Styles */
.plans-list-container {
    background-color: #ffffff;
    padding: 3vw;
    border-radius: 2cm;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    width: 100%;
    margin-top: 2vw;
    text-align: center;
    max-height: auto;
    position: relative;
    margin-bottom: 2cm;
}

.plan-card {
    border: 1px solid black;
    margin-top: 5vw;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5vw;
    width: max-content;
    text-align: left;
    margin-bottom: 2vw;
    transition: transform 0.3s ease-in-out;
}

.plan-card:hover {
    transform: translateY(-0.5vw);
}

.plan-card h2 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
    color: #333;
}

.plan-card p {
    font-size: 1.6vw;
    margin-bottom: 1vw;
    color: #666;
}

.plan-card a {
    margin-top: 5vw;
    display: inline-block;
    background-color: #ff5900;
    color: white;
    padding: 1.5vw 3vw;
    text-decoration: none;
    border-radius: 0.5vw;
    transition: background-color 0.3s;
}

.plan-card a:hover {
    background-color: #45a049;
}

.sort-select {
    margin-top: 5vw;
    margin-bottom: 7vw;
    position: absolute;
    top: 0;
    left: 3vw;
}

#sortSelect {
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    font-size: 1.6vw;
    cursor: pointer;
}

/* CSS for Sorting Dropdown */
.sort-select {
    margin-bottom: 2vw;
}

.sort-select label {
    font-size: 1.6vw;
    margin-right: 1vw;
    color: #333;
}

.sort-select select {
    font-size: 1.6vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    background-color: #f9f9f9;
    color: #333;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    .plan-card {
        max-width: calc(33.33% - 3vw);
    }
}

@media only screen and (max-width: 768px) {
    .plans-list-container {
        padding: 2vw;
    }

    .plan-card {
        max-width: calc(50% - 3vw);
        padding: 2vw;
    }

    .plan-card a {
        padding: 1vw 2vw;
    }
}

@media only screen and (max-width: 576px) {
    .plan-card {
        max-width: 100%;
        padding: 2vw;
    }

    .plan-card h2 {
        font-size: 2.5vw;
    }

    .plan-card p {
        font-size: 1.4vw;
    }

    .plan-card a {
        padding: 1vw 1.5vw;
    }
}
