/* Add your custom CSS styles here */

.container1 {
    margin-left: 1cm;
    margin-right: 1cm;
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed for responsiveness */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#progressForm label {
    display: block;
    margin-bottom: 10px;
}

#progressForm input,
#progressForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#progressForm button {
    background-color: #ff4d00;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#progressChart {
    width: 100%; /* Adjusted to full width for responsiveness */
    height: 300px;
}

#progressForm button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 1200px) {
    .container1 {
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .container1 {
        max-width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .container1 {
        max-width: 100%;
    }
}
