.profile-container {
    justify-content: center;
    align-items: center;
    margin: 20px 5%; /* Adjusted margin for responsiveness */
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 1cm;
    border: 1px solid black;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.327);
    width: 90%; /* Adjusted width for responsiveness */
    text-align: left;
}

.choose-image-btn {
    width: 100%; /* Full width for the button on smaller screens */
}

#imageLabel {
    width: 100%; /* Full width for the label on smaller screens */
}

button {
    margin-left: 0; /* Center button on smaller screens */
}

@media only screen and (max-width: 768px) {
    .profile-container {
        width: 80%; /* Adjusted width for tablets */
    }
}

@media only screen and (max-width: 576px) {
    .profile-container {
        width: 100%; /* Full width for smaller screens */
    }
}

h1 {
    margin-left: 5%; /* Adjusted margin for responsiveness */
}

input, select {
    width: 90%; /* Adjusted width for input fields */
}

@media only screen and (max-width: 576px) {
    input, select {
        width: 100%; /* Full width for smaller screens */
    }

    button {
        margin-left: 5%; /* Adjusted margin for button on smaller screens */
    }
}
