<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Our Team</span>
                        <!-- <h2>TRAIN WITH EXPERTS</h2> -->
                    </div>
                    <!-- <a href="#" class="primary-btn btn-normal appoinment-btn">appointment</a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Yashvant Mane </h4>
                            <span>Owner YOS Fithub</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Yash Pakale</h4>
                            <span>Co-Founder YOS Fithub</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Shubham Bhosale</h4>
                            <span>Managing Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                        <div class="ts_text">
                            <h4>Omkar Kumbhar</h4>
                            <span>Operational Director</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>