<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOS Fithub | UserDashboard</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body onload="display()">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="/userDashboard">Home</a></li>

                <li><a href="#">Account</a>
                    <ul class="dropdown">
                        <!-- <li><a href="/user-profile">set User Profile</a></li> -->
                        <li><a href="/show-user-profile">Show User Profile</a></li>
                        <li><a href="/index2">Logout</a></li>
                        
                        <!-- <li id="log"><a href="/alogin" >Admin Login</a></li> -->
                        
                    </ul>
                </li>

                <li><a href="/trainer1">Trainers</a></li>
                <li><a href="/team">Our Team</a></li>                           
                <li><a href="./plans">Plans</a></li>
                <li><a href="#">Services</a>
                    <ul class="dropdown">
                        <li><a href="./buyed-plans-user"> buyed Plans</a></li>
                        <li><a href="/calculator1">Health Calculators</a></li>
                        <li><a href="/feedback1">Feedback</a></li>
                        <li><a href="/about-us">About us</a></li>

                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>

                <li><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

     <!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/index2">
                        <img src="img/logo.png" alt="" style="	width: 120px;
                        height: 120px;
                        margin-top: 5px;
                        margin-left: 200px;
                                                                ">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="/userDashboard">Home</a></li>

                        <li><a href="#">Account</a>
                            <ul class="dropdown">
                                <!-- <li><a href="/user-profile">set User Profile</a></li> -->
                                <li><a href="/show-user-profile">Show User Profile</a></li>
                                <li><a href="/index2">Logout</a></li>
                                
                                <li id="log"><a href="/alogin" >Admin Login</a></li>
                                
                            </ul>
                        </li>

                        <li><a href="/trainer1">Trainers</a></li>
                        <li><a href="/team">Our Team</a></li>                           
                        <li><a href="./plans">Plans</a></li>
                        <li><a href="#">Services</a>
                            <ul class="dropdown">
                                <li><a href="./buyed-plans-user"> buyed Plans</a></li>
                                <li><a href="/calculator1">Health Calculators</a></li>
                                <li><a href="/feedback1">Feedback</a></li>
                                <li><a href="/about-us">About us</a></li>

                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>

                        <li><a href="/about-us">About Us</a></li>
                    </ul>
                </nav>
            </div>   
            <div class="col-lg-3">
                <div class="top-option">
                    <% if (userProfile.profileImage) { %>
                        <img src="/uploads/<%= userProfile.profileImage %>" alt="Profile Image" style="border-radius: 50%; border-color:solid 1px black; width: 100px; height: 100px; margin-right: 10px;">
                        <% } else { %>
                        <img src='https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png' style="border-radius: 50%; border-color:solid 1px black; width: 100px; height: 100px; margin-right: 10px;">
                    <% } %>
                    
                    <div class="to-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="to-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- Add Login/Register Links -->
              
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->


    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Hello  </span>
                                <h1 >Be <strong>strong</strong> traning hard</h1>
                                <h1 id="username"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <h1>Be <strong>strong</strong> traning hard</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why chose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <a href="https://sfhealthtech.com/"><h4>Modern equipment</h4></a>
                        <p>
                            Explore a curated selection of state-of-the-art fitness equipment, designed to elevate your workout experience and optimize performance.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Healthy nutrition plan</h4>
                        <p>Unlock a world of nourishment with our Nutrition Plan link, your gateway to personalized dietary guidance designed to complement your fitness journey.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Proffesponal training plan</h4>
                        <p>Elevate your fitness journey with our Professional Training Plan link, crafted for personalized guidance and expert-designed workouts.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Unique to your needs</h4>
                        <p>Discover fitness solutions uniquely tailored to your needs with our specialized link, ensuring a personalized approach to your well-being journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
 
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->

    <!-- Banner Section End -->

   <!-- Pricing Section Begin -->

<!-- Pricing Section End -->



    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Our Team</span>
                            <!-- <h2>TRAIN WITH EXPERTS</h2> -->
                        </div>
                        <!-- <a href="#" class="primary-btn btn-normal appoinment-btn">appointment</a> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                            <div class="ts_text">
                                <h4>Yashvant Mane </h4>
                                <span>Owner YOS Fithub</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                            <div class="ts_text">
                                <h4>Yash Pakale</h4>
                                <span>Co-Founder YOS Fithub</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                            <div class="ts_text">
                                <h4>Shubham Bhosale</h4>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                            <div class="ts_text">
                                <h4>Omkar Kumbhar</h4>
                                <span>Operational Director</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>In front of new walchand collage was chawk ,solapur,413001<br/> MH 13</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>7387638451</li>
                            <li>9028130824</li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.yosfithub@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>"Elevate your fitness journey with our expert trainers and personalized plans. Achieve your goals with a tailored approach to health and wellness on our innovative web platform."</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="/index2">Logout</a></li>
                            <li><a href="/show-user-profile">My account</a></li>
                            <li><a href="#">Subscribe</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | YOS Fithub Community <i class="fa font-family" aria-hidden="true"></i></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
   
<script language ="javascript" type="text/javascript">
function display()
{
    document.addEventListener('contextmenu',event=>event.preventDefault());
    
    // Access the username element by its ID
   var usernameElement = document.getElementById('username');

    // Set the inner HTML of the username element
    usernameElement.innerHTML = 'yash';

    // Retrieve and log the updated text
    var updatedUsername = usernameElement.innerHTML;
    console.log('Username:', updatedUsername);
}


 const currentPort = window.location.port;
        
        if (currentPort !== '4000') {
            // Hide the element if the port is not 4000
            const logElement = document.getElementById('log');
            logElement.style.display = 'none';
        }
</script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyByo-y7JgD3KAHxe08y22SdoLMKVKrkYbI",
      authDomain: "yos-fithub.firebaseapp.com",
      projectId: "yos-fithub",
      storageBucket: "yos-fithub.appspot.com",
      messagingSenderId: "164748123569",
      appId: "1:164748123569:web:1d537542679e841fb53190",
      measurementId: "G-6XHVH3DC08"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
  <!-- Start of yos-fithub Zendesk Widget script --><script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=8211a165-34c2-4a41-a140-5f4fd9ac5269"> </script><!-- End of yos-fithub Zendesk Widget script -->

</body>

</html>